﻿@model Student
@{
    ViewBag.Title = "Delete";
}
<form action="/Home/Delete" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit">Submit Delete</button>
</form>
