﻿@model Student
@{
    ViewBag.Title = "Edit";
}
<form action="/Home/Edit" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="Name" value="" />
    <button type="submit">Edit</button>
</form>
