﻿@model IList<Student>

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Home
        <small>Optional description</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <p>text</p>
    @ViewBag.Variable

    <h3>Studens List</h3>
    <strong><a href="/Home/Create">Create New</a></strong>

    @foreach (var studnet in Model)
    {
        <span><em>@studnet.Id</em></span>
        <span><strong><a href="/Home/Details/@studnet.Id">@studnet.Name</a></strong></span>
        @*<a asp-controller="Home" asp-action="Details" asp-route-id="@studnet.Id">content</a>*@
        @Html.ActionLink("Edit", "Edit", new { id = studnet.Id })
        @Html.ActionLink("Delete", "Delete", new { id = studnet.Id })
    }
</section>
